<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Advanced Object Oriented Software Development Assignment</title>
</head>
<body>
    <H1>Processing request for Job#:  <span th:text="${jobNo}"></span> </H1>

    <h3>Processing text (got from user): <span th:text="${job.getQuery()}"></span></h3>
</body>
</html>