<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<!--    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" type="text/css"></link>-->
<!--    <link th:href="@{/css/layout.css}" rel="stylesheet" type="text/css"></link>-->
    <title>GMIT -An Asynchronous Language Detection System</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

<div class="animated bounceInDown" style="font-size:48pt; font-family:arial; color:#990000; font-weight:bold">Language Detection System</div>

</p>&nbsp;</p>&nbsp;</p>

<table width="600" cellspacing="0" cellpadding="7" border="0">
    <tr>
        <td valign="top">

            <form bgcolor="white" method="POST" action="doProcess">
                <fieldset>
                    <legend><h3>Specify Details</h3></legend>

                    <b>Select Option:</b>

                    <select name="cmbOptions">
                        <option>Option 1</option>
                        <option selected>Option 2</option>
                        <option>Option 3</option>
                    </select>
                    <p/>

                    <b>Enter Text :</b><br>
                    <textarea name="query" rows="10" cols="100"  wrap="soft"></textarea>
                    <p/>

                    <div style="text-align: center;"><input type="submit" value="Process"></div>
                </fieldset>
            </form>

        </td>
    </tr>
</table>



</body>

</html>